@{
    ViewData["Title"] = "Personal Offers";
}

<div class="container-flex-column">
    <button class="btn-beige margin-after-btn" onclick="location.href='/Home/Index'">Back</button>
    <h5>There are three functions for forming personal offers. <br />
        Please, choose one.</h5>
    <div><a href="/Operation/AverageCheck">Base on the Growth of the Average Check</a></div>
    <div><a href="/Operation/FrequencyVisits">Base on the Growth of the Frequency of Visits</a></div>
    <div><a href="/Operation/CrossSelling">Base on the Cross-Selling</a></div>
</div>