@model ExportViewModel

<div class="overlay" id="export">
    <h4>Export Table to .CSV File</h4>
	@if (@Model.Table.Any() && Model.IsEntity)
	{
		<form action="/Data/Export/@Model.Table[0].GetTableName()/Filename/Delimiter" method="post">
			<label for="fileName">Enter file name:</label>
			<input id="fileName" name="Filename" type="text" value="@Model.Table[0].GetTableName()_exp" required style="width: 200px" />
			<label for="delim">Enter delimiter:</label>
			<input id="delim" name="Delimiter" type="text" value="," maxlength="1" required style="width: 60px" />
			<div class="container-one-line" style="justify-content:center;margin-top:10px">
				<button class="btn-orange  margin-between-btn" type="submit" onclick="hide('export')">Export</button>
				<button class="btn-beige" type="reset" onclick="hide('export')">Cancel</button>
			</div>
		</form>
	} else if (Model.Table.Any() && Model.IsEntity == false)
	{
		<div>
			<label for="fileName">Enter file name:</label>
			<input id="fileName" name="Filename" type="text" value="@Model.Table[0].GetTableName()_exp" required style="width: 340px" />
			<div class="container-one-line" style="justify-content:center;margin-top:10px">
				<button class="btn-orange  margin-between-btn" type="submit" onclick="saveToPC('@Model.FormExport()')">Export</button>
				<button class="btn-beige" type="reset" onclick="hide('export')">Cancel</button>
			</div>
		</div>
	}
	else
	{
		<p>The Table isn't formed. Can't export empty table.</p>
		<button class="btn-beige" onclick="hide('export')">OK</button>
	}
</div>

