<div class="overlay" id="confirm">
    <h4>Are you sure?</h4>
    <div class="container-one-line" style="justify-content:center;margin-top:10px">
        <button class="btn-orange margin-between-btn" type="submit" form="editForm">Yes</button>
        <button class="btn-beige" type="reset" onclick="hide('confirm')">Cancel</button>
    </div>
</div>
