<div class="overlay" id="delete">
    <h4>Are you sure you want to delete the entry?</h4>
    <div class="container-one-line" style="justify-content:center;margin-top:10px">
        <button id="deleteButton" class="btn-orange  margin-between-btn" onclick="hide('delete')">Delete</button>
        <button class="btn-beige" type="reset" onclick="hide('delete')">Cancel</button>
    </div>
</div>