@{
    ViewData["Title"] = "Home Page";
}

<div class="container-flex-column">
<h1>Welcome to our Database "Retail"!</h1>
<h5 style="margin-bottom:40px">You can find different information for analyzing retail operations. <br />
    But firstly, please, log in.</h5>
<a asp-controller="Data" asp-action="Index">Data</a>
<a asp-controller="Operation" asp-action="Index">Personal Offers</a>

</div>